extends ../layouts/admin-layout

block header__active-page
    a( href="/")
        li Home
    a( href="/admin/all-books")
        li( class="active" ) Admin
    a( href="/admin/new-book")
        li New Book

block append body
    table.all-books
        tr
            th
                a( 
                    href="?sort=title" 
                )="Title".toUpperCase()
            th
                a( 
                    href="?sort=author" 
                )="Author".toUpperCase()
            th
                a( 
                    href="?sort=available" 
                )="Available".toUpperCase()
            th
                a( 
                    href="?sort=issuedon" 
                )="IssuedOn".toUpperCase()
            th Delete
            th Edit

        each book in  arrBooksData
            tr
                td=book.title
                td=book.author
                td( class="text-center" )=book.available
                td=book.issuedon
                td
                    a( href="/admin/delete?id=" + book.id ) Delete
                td
                    a( href="/admin/edit?id=" + book.id   ) Edit
