extends ../layouts/bookShop-layout

block header__active-page
    a( href="/")
        li( class="active" ) Home
    a( href="/go-to-card")
        li Go To Card
    a( href="/admin/all-books")
        li Admin

block append body
    div.error-message#error-message
    table.all-books
        tr
            th
                a( 
                    href="?sort=title" 
                )="Title".toUpperCase()
            th
                a( 
                    href="?sort=author" 
                )="Author".toUpperCase()
            th
                a( 
                    href="?sort=available" 
                )="Available".toUpperCase()
            th
                a( 
                    href="?sort=issuedon" 
                )="IssuedOn".toUpperCase()
            th Add to Cart

        each book in  arrBooksData
            tr
                td=book.title
                td=book.author
                td( class="text-center" id="available-amount" )=book.available
                td=book.issuedon
                td
                    form.form__book-shop#form__book-shop(method="POST" action="/add-to-cart" )
                        input( type="hidden" name="sortBy" value=sortBy )
                        input( type="hidden" name="id" value=book.id )
                        input.books-amount( type="text" name="amount" id="loan-amount" placeholder="amount" )
                        button( type="submit" ) Add

    script( src="/scripts/availability.js" )
