extends ../layouts/bookShop-layout

block header__active-page
    a( href="/")
        li Home
    a( href="/go-to-card")
        li( class="active" ) Go To Card

block body
    table.all-books
        tr
            th="Title".toUpperCase()
            th="Author".toUpperCase()
            th="IssuedOn".toUpperCase()
            th Amount Added to Card

        each book in  arrBooksData
            tr
                td=book.title
                td=book.author
                td=book.issuedon
                td( class="text-center" )
                    span=book.addedToCart 
                    span 
                    button( type="submit" ) X
